<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center"><h1 blueColored>Hello World</h1></div>

<!-- <div *ngIf="visible; then evenClicked; else oddClicked">this works</div> -->

<div *ngIf="counter % 2 == 0; let randomVariable">Yep!{{ randomVariable }}</div>
<button (click)="toggleDiv()">Toggle</button>

<ng-template #oddClicked>odd number of clicks</ng-template>
<ng-template #evenClicked>even number of clicks</ng-template>

<router-outlet></router-outlet>
