<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 blueColored>Hello World</h1>

  Hello: {{ username }}
  <!-- <input type="text" [(ngModel)]="username" /> -->

  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>

  <!-- <input type="text" [value]="username" (input)="changeUsername($event)" /> -->

  <!-- {{ myCustomString }} -->
  <!-- 1 + 1 =
  <input type="text" bind-value="result" on-keydown="myFunction($event)" /> -->
</div>

<!-- <div *ngIf="visible; then evenClicked; else oddClicked">this works</div> -->

<!-- <ul *ngFor="let language of myFavLang; let i = index">
  <li>{{ i }} . {{ language.name }} - {{ language.type }}</li>
</ul>

<ng-template #oddClicked>odd number of clicks</ng-template>
<ng-template #evenClicked>even number of clicks</ng-template> -->
